div.center {
    text-align: center;
}

div#results {
    height: 60dvh;
}

div#results > ul {
    list-style-type: none;
    overflow-y: auto;
    height: 100%;
}

span.small {
    font-size: x-small;
}
